<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/zui")

    @*@Scripts.Render("~/bundles/modernizr")*@
    <style type="text/css">
    </style>
</head>
<body>
    @*锚点*@
    <div id="anchor_top"></div>
    @*锚点结束*@
    <!-- 顶部导航栏 -->
    <nav class="navbar navbar-inverse" role="navigation"
         style="margin-bottom: 0;background-color: black;border-radius: 0;border: 0;">
        <div class="col-md-8 col-md-offset-2">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">标识</a>
            </div>
            <div>
                <ul class="nav navbar-nav nav-top" style="font-size:large">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">SVN</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Java <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">jmeter</a></li>
                            <li><a href="#">EJB</a></li>
                            <li><a href="#">Jasper Report</a></li>
                            <li class="divider"></li>
                            <li><a href="#">分离的链接</a></li>
                            <li class="divider"></li>
                            <li><a href="#">另一个分离的链接</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 顶部导航栏结束 -->

    <div class="container-fluid">
        <!-- 母版头 -->
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div class="container-fluid" style="margin-top: 0px; margin-bottom: 0px; ">
                    <img src="~/image/148bf7ddd88766bafe822cbc79e132ec.jpeg" alt=" 图片丢失"
                         style=" width: 100%;height: auto;" />
                    <!-- <div style="margin-top: 2px; margin-bottom: 0px;height:40px;"> </div> -->

                    <ul class="nav nav-top nav-simple nav-justified" style="border: 0;background-color:azure">
                        <li>
                            <a href="###">部门一 </a>
                        </li>
                        <li>
                            <a href="###">部门二 </a>
                        </li>
                        <li>
                            <a href="###">部门三 </a>
                        </li>
                        <li>
                            <a href="###">部门四 </a>
                        </li>
                        <li>
                            <a href="###">部门五 </a>
                        </li>
                        <li>
                            <a href="###">部门六 </a>
                        </li>
                        <li class="">
                            <a href="###">
                                动态
                                <!-- <span class="label label-badge label-success pull-right">4</span> -->
                            </a>
                        </li>
                        <li class="dropdown  dropdown-hover">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="###">更多</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">下拉菜单标题</li>
                                <li>
                                    <a href="">任务</a>
                                </li>
                                <li>
                                    <a href="">目标</a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">下拉菜单标题</li>
                                <li>
                                    <a href="">需求</a>
                                </li>
                                <li>
                                    <a href="">用例</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="###">在左侧显示</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="###">复制</a></li>
                                        <li><a href="###">粘贴</a></li>
                                        <li><a href="###">剪切</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-xs-1">
                @if (IsSectionDefined("toolbar"))
                {
                    @RenderSection("toolbar", required: false)
                }
                else
                {
                    <div class="container">
                        <div class="toolbar-icon">
                            <ul style="list-style-type: none;">
                                <li>
                                    <a href="Editor">
                                        <i class="icon icon-edit icon-5x"
                                           style="color: rgba(9, 61, 75);opacity: 0.5;"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="back_history()">
                                        <i class="icon icon-chevron-sign-left icon-5x"
                                           style="color: rgba(9, 61, 75);opacity: 0.5;"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#anchor_top">
                                        <i class="icon icon-chevron-sign-up icon-5x"
                                           style="color: rgba(9, 61, 75);opacity: 0.5;"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
            <div class="col-xs-1">
                @if (IsSectionDefined("toolbar2"))
                {
                    @RenderSection("toolbar2", required: false)
                }
            </div>
        </div>
        <!-- 母版头结束 -->

        <div class="row">
            <div class="col-xs-2">
                @if (IsSectionDefined("tree_menu"))
                {
                    @RenderSection("tree_menu", required: false)
                }
                else
                {
                }
            </div>
            <div class="col-xs-8">
                <!-- 内容 -->
                <div class="container-fluid" style="margin-top: 1px; margin-bottom: 0px; ">
                    <!-- 内容容器 -->
                    @RenderBody()
                    <!-- 内容容器结束 -->
                </div>
                <!-- 内容结束 -->
                <div class="container-fluid" style="margin-top: 1px; margin-bottom: 0px; ">
                    <footer>
                        <HR align=center width=100% color=#987cb9 SIZE=2>
                        <ul class="nav nav-pills nav-justified" style="padding: 0 10%;">
                            <li><a href="#">友情链接</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li><a href="#">友情链接</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li><a href="#">友情链接</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li><a href="#">友情链接</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li><a href="#">友情链接</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        </ul>
                        <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
                    </footer>
                </div>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function back_history() {
            history.back();
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>